@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DashboardModel

<head><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<h2>Dashboard</h2>
<h3>Products</h3>

@if (Model.Products.Any())
{
    foreach (var product in Model.Products)
    {
        <form method="post" asp-page-handler="UpdateProduct" asp-route-id="@product.id">
            <input type="text" name="productName" value="@product.Name" />
            <input type="number" name="productPrice" value="@product.Price" />
            <button type="submit">Update</button>
        </form>
        <form method="post" asp-page-handler="DeleteProduct" asp-route-id="@product.id">
            <button type="submit">Delete</button>
        </form>
    }
}

<form method="post" asp-page-handler="AddProduct">
    <input type="text" name="newProductName" placeholder="Name" />
    <input type="number" name="newProductPrice" placeholder="Price" />
    <button type="submit">Add Product</button>
</form>

<h3>Customers</h3>

@if (Model.Customers.Any())
{
    foreach (var customer in Model.Customers)
    {
        <form method="post" asp-page-handler="UpdateCustomer" asp-route-id="@customer.id">
            <input type="text" name="customerName" value="@customer.Name" />
            <input type="text" name="customerSurname" value="@customer.Surname" />
            <input type="email" name="customerEmail" value="@customer.Email" />
            <button type="submit">Update</button>
        </form>
        <form method="post" asp-page-handler="DeleteCustomer" asp-route-id="@customer.id">
            <button type="submit">Delete</button>
        </form>
    }
}

<form method="post" asp-page-handler="AddCustomer">
    <input type="text" name="newCustomerName" placeholder="Name" />
    <input type="text" name="newCustomerSurname" placeholder="Surname" />
    <input type="email" name="newCustomerEmail" placeholder="Email" />
    <button type="submit">Add Customer</button>
</form>

<h3>Orders</h3>

@if (Model.Order.Any())
{
    foreach (var order in Model.Order)
    {
        <form method="post" asp-page-handler="UpdateOrder" asp-route-id="@order.id">
            <input type="text" name="orderNumber" value="@order.Number" />
            <input type="text" name="orderState" value="@order.State" />
            <input type="date" name="orderDate" value="@order.OrderDate.ToString("yyyy-MM-dd")" />
            <button type="submit">Update</button>
        </form>
        <form method="post" asp-page-handler="DeleteOrder" asp-route-id="@order.id">
            <button type="submit">Delete</button>
        </form>
    }
}

<form method="post" asp-page-handler="AddOrder">
    <input type="text" name="orderNumber" placeholder="Order Number" />
    <input type="text" name="orderState" placeholder="State" />
    <input type="date" name="orderDate" placeholder="Order Date" />
    <input type="text" name="customerId" placeholder="Customer ID" />
    <button type="submit">Add Order</button>
</form>

<h3>Orderdetails</h3>

@if (Model.OrderDetail.Any())
{
    foreach (var orderDetail in Model.OrderDetail)
    {
        <form method="post" asp-page-handler="UpdateOrderDetail" asp-route-id="@orderDetail.id">
            <input type="number" name="productId" value="@orderDetail.Productid" />
            <input type="number" name="amount" value="@orderDetail.Amount" />
            <input type="number" name="orderId" value="@orderDetail.Orderid" />
            <button type="submit">Update</button>
        </form>
        <form method="post" asp-page-handler="DeleteOrderDetail" asp-route-id="@orderDetail.id">
            <button type="submit">Delete</button>
        </form>
    }
}

<form method="post" asp-page-handler="AddOrderDetail">
    <input type="number" name="productId" placeholder="Product ID" />
    <input type="number" name="amount" placeholder="Amount" />
    <input type="number" name="orderId" placeholder="Order ID" />
    <button type="submit">Add Order Detail</button>
</form>